/*
*LCD/LED:1440|1024
*/
html{
    font-size: 100%;
}

header img{
    position: absolute;
    width: 10%;
    height: 140%;
    left: 79%;
}

body {
    height: 125vh;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80%;
    padding: 30%;
}

main {
    color: white;
}

header {
    border-radius: 34px;
    background-color: white;
    position: fixed;
    height: 63px;
    width: 100%;
    left: 0px;
    top: 1%;
    display: flex;
    align-items: center;
    background: #65C9FF70;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a{
    color: black;
    text-decoration: none;
}

#title{
    position: absolute;
    position: absolute;
    top: -10%;
    width: 10%;
    height: 150%;
    left: 88%;
    font-style: normal;
    font-weight: normal;
    font-size: 140%;
    line-height: 30px;
}

#icon{
    position: absolute;
    height: 70%;
    width: 4%;
    left: 1%;
    top: 9%;
}

.button{
    position: absolute;
    background: #EF801A;
    border-radius: 14px;
    color: white;
}